@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <h2 style="margin-top:100px;">View <a href="/ApiHelper">JcApiHelper</a></h2>
        <h2 style="margin-top:20px;">
            About
            <a href="https://www.cnblogs.com/arthur3k/p/11147230.html" target="_blank">JcApiHelper</a>
        </h2>
    </div>
